@use 'variables' as *;

.with-arrow {
  &::after {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url('/project_ang/right.svg');
    background-size: cover;
    margin-left: 10px;
  }
}

.my-btn {
  background-color: $main-button-color;
  border: none;

  &:active {
    background-color: $main-button-color_active;
  }
}
