@use 'variables' as *;

.with-arrow {
  &::after {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.with-arrow-right {
  &::after {
    background-image: url('/project_ang/right.svg');
  }
}

.with-arrow-down {
  &::after {
    background-image: url('/project_ang/down.svg');
  }
}
