<section class="detailed-page">
  @if (bookData$ | async; as book) {
    <h2>{{ book?.title }}</h2>
    <div class="detailed-page-book">
      <div class="book-description">
        <div class="book-author">
          @for (item of book?.authors; track $index) {
            <div>
              <p>{{ item.name }}</p>
              <p>{{ item.birth_year || 'unknown' }}</p>
              <span>-</span>
              <p>{{ item.death_year || 'unknown' }}</p>
            </div>
          }
        </div>
        <div class="book-summaries">
          @for (item of book?.summaries; track $index) {
            <p>{{ item }}</p>
          }
        </div>
        <app-button class="book-button" [handler]="handleBackButton">Back</app-button>
      </div>

      @if (book) {
        <img class="book-img" [src]="book.formats['image/jpeg']" [alt]="book?.title" />
      } @else {
        <p>empty</p>
      }
    </div>
  }
</section>
