<section class="d-flex flex-column align-items-center justify-content-center gap-5">
  <app-button
    [handler]="handleButtonDown"
    [hasArrow]="'down'"
    class="arrow-down position-absolute z-3"
  ></app-button>
  <h2 class="text-center">Books for download</h2>
  @let response = currentPageData$ | async;

  @if (response && (isLoadingBooks$ | async) === false) {
    @let books = showAllBooksValue() ? response.results : selectedBooks();

    <app-button [handler]="handleButtonRead">{{
      showAllBooksValue() ? 'Show read books' : 'Show all books'
    }}</app-button>
    <ul #cardContainer class="d-flex flex-wrap justify-content-center gap-5 position-relative">
      @for (book of books; track book.id) {
        <li>
          <app-book-card
            [bookData]="book"
            [handler]="handleCardClick"
            [buttonHandler]="handleAddToReadButton"
            [isSelected]="selectedBooksIds()?.has(book.id)"
          ></app-book-card>
        </li>
      }
    </ul>
    @if (showAllBooksValue()) {
      <div class="pricing_pagination d-flex align-items-center flex-column flex-md-row">
        <app-button [handler]="prevPage" [isDisabled]="getCurrentPage() === 1">Prev</app-button>

        <div class="pagination-button-container d-flex gap-1 gap-md-3">
          @for (page of visiblePages$ | async; track $index) {
            @if (page !== '...') {
              <button
                (click)="navigateTo(page)"
                [ngClass]="
                  page === getCurrentPage()
                    ? 'active pricing_pagination-button'
                    : 'pricing_pagination-button'
                "
              >
                {{ page }}
              </button>
            } @else {
              <span>{{ page }}</span>
            }
          }
        </div>
        <app-button [handler]="nextPage" [isDisabled]="!response.next">Next</app-button>
      </div>
    }
  }
</section>
