@if (currentPageData$ | async; as response) {
  <section class="d-flex flex-column align-items-center justify-content-center gap-5">
    <h2 class="text-center">Books for download</h2>
    @if (!isLoading()) {
      <ul class="d-flex flex-wrap justify-content-center gap-5 position-relative">
        @for (book of response.results; track book.id) {
          <li><app-card [bookData]="book" [handler]="handleCardClick"></app-card></li>
        }
      </ul>
    }

    <div class="pricing_pagination d-flex align-items-center flex-column flex-md-row">
      <app-button [handler]="prevPage" [isDisabled]="isLoading() || getCurrentPage() === 1"
        >Prev</app-button
      >
      <div class="pagination-button-container d-flex gap-1 gap-md-3">
        @for (page of visiblePages$ | async; track $index) {
          @if (page !== '...') {
            <button
              (click)="navigateTo(page)"
              [ngClass]="
                page === getCurrentPage()
                  ? 'active pricing_pagination-button'
                  : 'pricing_pagination-button'
              "
            >
              {{ page }}
            </button>
          } @else {
            <span>{{ page }}</span>
          }
        }
      </div>
      <app-button [handler]="nextPage" [isDisabled]="isLoading() || !response.next"
        >Next</app-button
      >
    </div>
  </section>
}
