<app-logo [logo]="logoImage"></app-logo>
@if (userName()) {
  <p>{{ `Hello ${userName()}` }}</p>
}
<button class="burger" (click)="handleMenu()" aria-label="open menu"></button>
<div class="header-menu" [ngClass]="isMenuOpen() ? 'open' : null" (resize)="handleResize()">
  <button
    type="button"
    class="btn-close d-sm-none"
    aria-label="Close"
    (click)="handleMenu()"
  ></button>
  <app-menu
    [items]="menuItems"
    [isRow]="true"
    [routeActive]="true"
    (clicked)="handleResize()"
  ></app-menu>
  @if (currentUrl() === '/login') {
    <app-button [hasArrow]="true" [handler]="buttonHandler">Register Now</app-button>
  } @else if (userName()) {
    <app-button [hasArrow]="true" [handler]="logOutHandler">LogOut</app-button>
  } @else {
    <app-button [hasArrow]="true" [handler]="buttonHandler">Login</app-button>
  }
</div>
