@use '../../../../styles/variables' as *;

.slider {
  width: 100%;

  .slider_items {
    display: block;
    height: 250px;
    width: auto;

    @include respond-m {
      height: 320px;
    }
  }

  .pagination {
    display: flex;
    gap: 10px;
    justify-content: center;
    .dot {
      background-image: url('/dot.svg');
      width: 7px;
      height: 7px;
      background-size: contain;
      background-repeat: no-repeat;
      display: block;
      cursor: pointer;
    }

    .dot_active {
      background-image: url('/dot_active.svg');
    }
  }
}
