@use 'variables' as *;

:host {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.slider_items {
  height: fit-content;
}

.dot {
  background-image: url('/project_ang/dot.svg');
  width: 7px;
  height: 7px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.dot_active {
  background-image: url('/project_ang/dot_active.svg');
}
