@use 'variables' as *;

:host {
  color: white;
  padding: 44px 0px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 70px;

  @include respond-m {
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
  }

  .footer_menu {
    .footer_menu-company,
    .footer_menu-support,
    .subscribe {
      width: 100%;
    }
  }

  .subscribe {
    width: 100%;

    .subscribe-button {
      width: 20px;
      height: 20px;
      background: url('/project_ang/send.svg') no-repeat center/cover;
      cursor: pointer;
      margin-right: 10px;
    }
  }
}
