@use 'variables' as *;

:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;

  .form {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 30px;
    align-items: center;

    @include respond-m {
      width: 35%;
    }

    .form-field {
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 100%;
      position: relative;
    }

    input {
      border: 1px solid $main-button-color;
      border-radius: 3px;
      height: 30px;
    }
  }
}

.required {
  &::after {
    content: '*';
  }
}
