@use 'variables' as *;

:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;

  .form {
    width: 70%;

    @include respond-m {
      width: 35%;
    }

    .form-field {
      width: 100%;
    }

    input {
      border: 1px solid $main-button-color;
      border-radius: 3px;
      height: 30px;
    }
  }
}

.required {
  &::after {
    content: '*';
  }
}
