<nav>
  <ul
    [class]="customClass()"
    [ngClass]="isRow() ? 'd-flex flex-column flex-md-row' : 'd-flex flex-column'"
    class="navbar-nav gap-2"
  >
    @for (item of items(); track item.id) {
      <li class="nav-item">
        @if (item.title) {
          <app-link
            [linkRoute]="item.route"
            [isRouteActive]="routeActive()"
            (click)="handleClick(item)"
            class="nav-link"
            >{{ item.title }}</app-link
          >
        } @else {
          <app-link [linkRoute]="item.route" [isRouteActive]="routeActive()" class="nav-link">
            <div class="menu-item-img" [ngStyle]="{ 'background-image': `url(${item.img})` }"></div>
          </app-link>
        }
      </li>
    }
  </ul>
</nav>
