@use '../../../../styles/variables' as *;

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include respond-m {
    flex-direction: row;
  }

  @include respond-l {
  }
}

.column {
  flex-direction: column;
}
