@use 'variables' as *;

.slide_lesson-text {
  gap: 15px;

  @include respond-m {
    max-width: 40%;
    width: fit-content;
  }
}

.slide_lesson-img {
  width: 40%;
  order: -1;

  @include respond-m {
    display: initial;
  }
}
