<div
  class="card"
  (click)="cardHandler()"
  (keyup)="cardHandler()"
  tabindex="0"
  [attr.data-cardId]="bookData()?.id"
>
  <div class="card-header">
    <h4 class="card-title">{{ bookData()?.title }}</h4>
    @for (author of bookData()?.authors; track $index) {
      <p class="card-subtitle">{{ author.name }}</p>
    }
  </div>

  <div class="card-body">
    <ul class="list-group list-group-flush">
      @for (shelf of bookData()?.bookshelves; track $index) {
        <li class="list-group-item">{{ shelf }}</li>
      }
    </ul>
  </div>

  <div class="card-footer d-flex justify-content-between align-items-center">
    @if (!isSelected()) {
      <button (click)="buttonHandler()?.($event)" class="btn btn-success my-btn">
        Mark as read
      </button>
    } @else {
      <button (click)="buttonHandler()?.($event)" class="btn btn-success my-btn">
        Remove from read
      </button>
    }
  </div>
</div>
